<!DOCTYPE html>
<html>
<head>

<!-- libraries -->

<!-- vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- CHANGE TO PRODUCTION VERSION BEFORE SUBMISSION -->

<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- react -->
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<!-- My code -->

<script src="src/CorrelationCalculator.js"></script>
<script src="src/RegressionCalculator.js"></script>
<script src="src/HelperFunctions.js"></script>
<script src="src/TheVue.js"></script>
<script type="text/babel" src='src/theReact.js'></script>

<!-- CSS and other formatting -->

<!-- other scripts -->



<script> 

document.addEventListener('DOMContentLoaded', function() {
  var theVue // force theVue to be global
  vueLoad()
})

</script>

<meta charset="utf-8">
<title>Regression and Correlation Home Page</title>

</head>

<body>
<div id='Header'>
<h1>BCPR280 Assignment 2 - Thomas Baines</h1>
</div>

<div id="vueBox" class = 'card' >

  <h2 class='card-header'>VueJS interface:</h2>
  
  <p v-if="display==='warn'">Invalid data was provided - please try again. (see console for details)</p>

  <div name="bootstrapStructure" class="row">
  
  <div class='xEntry col-md-6'>
    <h3>X values:</h3>
    <textarea name='vueX' :placeholder="xPlaceholder" cols='10' rows='15' v-model='xValue'></textarea>
  </div>
  
  <div class='yEntry col-md-6'>
    <h3>Y values:</h3>
    <textarea name='vueY' :placeholder="yPlaceholder" cols='10' rows='15' v-model='yValue'></textarea>
  </div>
  
  </div>
  
  <div class='xkEntry'>
  <label for='vueXK'>{{ xkPrompt }}</label>
  <input type='text' id='vueXK' v-model='xkValue'>
  </div>
  
  <div class='actionButtons btn-group'>
  <input type='button' class='btn btn-primary' v-on:click='runCorrelation' value = 'Calculate Correlation'>
  <input type='button' class='btn btn-primary' v-on:click='runRegression' value = 'Calculate Regression'>
  
  </div>
  
  <div class='response'>
    <div id='vueCorrelation' v-if="display === 'c'">
      <label for="vCorrelationR"><i>r</i>:</label>
      <p id='vCorrelationR'>{{ correlationValues.get('r') }}</p>
      
      <label for="vCorrelationR2"><i>r<sup>2</sup></i>:</label>
      <p id='vCorrelationR2'>{{ correlationValues.get('rSquared') }}</p>
      
    </div>
    
    <div id='vueRegression' v-if="display === 'r'">
      <label for="vBeta_0">Beta 0:</label>
      <p id='vBeta_0'>{{ regressionValues.get('beta_0') }}</p>
      
      <label for="vBeta_1">Beta 1:</label>
      <p id='vBeta_1'>{{ regressionValues.get('beta_1') }}</p>
      
      <label for="v_yK" v-if="this.regressionValues.get('yk')" ><i>y<sup>k</sup></i></label>
      <p id="v_yK" v-if="this.regressionValues.get('yk')">{{ regressionValues.get('yk') }}</p>
      
      <p id='v_yk_warning' v-if='this.theRegressionCalculator.warning'> {{ this.theRegressionCalculator.warning }}</p>
    </div>
  
  </div>
</div>
<br>
<div id='reactInterface' class='card'>
</div>
<br>



<div id='Other useful things' class='card'>
  <h2 class='card-header'>Other Useful Links</h2>
    <input type='button' class='btn btn-secondary' onClick="window.location.pathname='/SpecRunner.html'" value="JasmineJS Spec" />
</div>

</body>


</html>
